<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">

    </style>
    <title>first html</title>
</head>
<body>
<div>
    <form method="post" action="/post">
        <fieldset>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" placeholder="First Name" name="fname" value="" minlength="2" maxlength="20" ><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" placeholder="Last Name" name="lname" value="" minlength="2" maxlength="20"><br><br>
            <label for="Age">Age:</label><br>
            <input type="text" id="Age" placeholder="Last Name" name="Age" value=""><br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

</div>
</body>
</html>